* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none; 

}



:root {
    font-size: 62.5%;
    --cinzaescuro: #3F3D56;
    --cinza: #828282;
    --pink: #EE24FF;
    --cinzaclaro: #ECEFF2;


}



body {
    font-size: 1.6;
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(./assets/Wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

}



main {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 700px;
    height: 486px;
    text-align: center;

    
}

.img {
    
    margin: 0 auto;
    width: 360px;
    height: 260px;
    background-image: url(./assets/img1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    margin-top: 16px;
    color: var(--cinzaescuro);
    font-size: 3.8rem;
    font-family: 'Dosis', sans-serif;
}

span {
    color: var(--pink);
}

strong {
    font-weight: bolder;
    color: #3F3D56
    
}

.strong {
    color: var(--cinza);
}


p {
    margin: 16px;
    color: var(--cinza);
    font-family: 'Open Sans';
    font-size: 1.8rem;
}




footer {
    height: 174px;
    width: 100%;
    display: flex;
    flex-direction: column;    
}

a {
    font-family: 'Open Sans';
    
    color: var(--cinzaescuro);
    margin: 0 auto;
    font-size: 1.8rem;
}
.redes {
    padding-top: 16px;
    margin: 0 auto;
    display: flex;
    width: 391px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--cinzaclaro);
  
}

.imagefooter  {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.imagefooter img {
    padding-top: 25rem;
}
